<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }} - {{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap" rel="stylesheet">

    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <a class="skip-to-content" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>
